.metadata
elven-hot-files
*.hot-update.js*
bundle.js
*.js.map
platforms
babel_cache
Thumbs.db
*.apk
*.dex
*.bak
*.geany
resources.ap_
jarlist.cache
geany_run_script.bat
bower_components
coverage
node_modules

npm-debug.log
foo.bat
__pycache__
result.xml
*.pyc
*.idea
*.swp
git
obj
bin

