<!-- Instructions (collapsible) -->
<div class="instruction-block">
    <div class="col-xs-12 col-md-12">
        <div class="card panel-danger">
            <!-- WARNING: the ids "collapseTrigger" and "instructionBody" are being used to enable expand/collapse feature -->
            <a class="card-header" href="javascript:void(0);" id="collapseTrigger">
                <strong>Instructions</strong>
                <span class="collapse-text">(Click to expand)</span>
            </a>
            <div class="card-body" id="instructionBody">

            </div>
        </div>
    </div>
</div>
<!-- End instructions -->